In [ ]:
## Representing a CSB as a list of rows

# Option 1: Each row is a list
csv =[['a1','a2',a3],
     ['b1','b2','b3']]

# Option 2: Each row is a dictionary
csv2 =[{'name1':'a1','name2':'a2','name3':'a3'},
      {'name1':'b1','name2':'b2','name3':'b3'}]

In [ ]:
import unicodecsv
enrollments = []
f = open('enrollments.csv', 'rb')
reader = unicodescv.DectReader(f)

for row in reader:
    enrollments.append(row)
    
f.close()

enrollments[0]

In [1]:
import pandas as pd

countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
]

# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

def max_employment(employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    
    The input will be a Pandas series where the values
    are employment and the index is country names.
    
    Try using the Pandas argmax() function. Documention is
    here: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.argmax.html
    '''
    max_country = None      # Replace this with your code
    max_value = None   # Replace this with your code

    return (max_country, max_value)

In [2]:
print employment.argmax()

Angola

In [3]:
print employment.max()

75.69999695

In [15]:
above = employment > employment.mean()
print above[above == True]
below = above[not(above)]
#below = employment < employment.mean()
print below
print employment [employment > 60.0]

Angola        True
Australia     True
Azerbaijan    True
Bahamas       True
Bahrain       True
Bangladesh    True
Barbados      True
Benin         True
Bolivia       True
dtype: bool

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# Filling Missing Values Exercise:

In [1]:
import pandas as pd

s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], name="s1")
s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'], name="s2")

# Try to write code that will add the 2 previous series together,
# but treating missing values from either series as 0. The result
# when printed out should be similar to the following line:
# print pd.Series([1, 2, 13, 24, 30, 40], index=['a', 'b', 'c', 'd', 'e', 'f'])
def fill_indexes(series1, series2):
    for i in series2.axes[0]:
        if i  not in series1:
            print "index {} is not in {}".format(i, series1.name)
            print "adding {} to {}".format(i, series1.name)
            series1[i]=0
            print "{}[{}] equals {}".format(series1.name, i, series1[i])
    print "new series {}:".format(series1.name)
    print series1
    
    for i in series1.axes[0]:
        if i  not in series2:
            print "index {} is not in {}".format(i, series2.name)
            print "adding {} to {}".format(i, series2.name)
            series2[i]=0
            print "{}[{}] equals {}".format(series2.name, i, series2[i])
    print "new series {}:".format(series2.name)
    print series2

fill_indexes(s1, s2)
sum_s1_s2 = s1 + s2
print "sum of s1 and s2:"
print sum_s1_s2

index e is not in s1
adding e to s1
s1[e] equals 0
index f is not in s1
adding f to s1
s1[f] equals 0
new series s1:
a    1
b    2
c    3
d    4
e    0
f    0
Name: s1, dtype: int64
index a is not in s2
adding a to s2
s2[a] equals 0
index b is not in s2
adding b to s2
s2[b] equals 0
new series s2:
c    10
d    20
e    30
f    40
a     0
b     0
Name: s2, dtype: int64
sum of s1 and s2:
a     1
b     2
c    13
d    24
e    30
f    40
dtype: int64

# Apply() function - Reverse Names:

In [4]:
import pandas as pd

# Change False to True to see what the following block of code does

# Example pandas apply() usage (although this could have been done
# without apply() using vectorized operations)
if False:
    s = pd.Series([1, 2, 3, 4, 5])
    def add_one(x):
        return x + 1
    print s.apply(add_one)

names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

def reverse_names(name):
    '''
    Fill in this function to return a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    
    Try to use the Pandas apply() function rather than a loop.
    '''
    return name.split(" ",1)[1] + ", " + name.split(" ",1)[0]
    
    
    
print names.apply(reverse_names)

0             Agassi, Andre
1              Bonds, Barry
2     Columbus, Christopher
3             Defoe, Daniel
4           Estevez, Emilio
5          Flintstone, Fred
6              Garbo, Greta
7          Humbert, Humbert
8               Ilych, Ivan
9              Joyce, James
10         Knightley, Keira
11               Lane, Lois
12              Myers, Mike
13              Nolte, Nick
14           Osbourne, Ozzy
15           Picasso, Pablo
16       Quirrell, Quirinus
17             Ray, Rachael
18          Sarandon, Susan
19             Turner, Tina
20           Urbina, Ugueth
21            Vaughn, Vince
22          Wilson, Woodrow
23             Yamada, Yoji
24         Zidane, Zinedine
dtype: object